# Core
torch>=2.0
pytorch-lightning>=2.0
transformers>=4.30
numpy
pandas
scikit-learn
tqdm
faiss-cpu
python-dotenv

# optional for faster tokenization / dataset handling
datasets

# dev
pytest
black
isort
